@import url('./fonts.css');
@import url('./nulling_style.css');

$list-add-background-color: rgb(152, 223, 138);
$list-add-border-color: 1px solid rgb(106, 156, 96);
$list-add-background-color-hover: rgb(134, 197, 122);
$list-add-background-color-active: 0px 0px 10px 0px rgb(106, 156, 96) inset;
$list-progress-background-color: rgb(240, 240, 255);
$list-progress-border-color: 1px solid rgb(189, 189, 200);
$list-done-background-color: rgb(135, 206, 250);
$list-done-border-color: 1px solid rgb(105, 160, 195);
$list-done-background-color-hover: rgb(126, 191, 232);
$list-done-background-color-active: 0px 0px 10px 0px rgb(88, 134, 163) inset;
$card-item-btn-box-shadow: 0px 0px 5px 0px rgb(129, 129, 129) inset;

html {
    background:linear-gradient(45deg, #ff9f1a, #70b500, #2ACCE5, #0079bf, #315989, #c377e0);
}

.wrapper {
    font-family: Raleway;
    min-width: 0;
    width: calc(100vw - 20px);
    padding: 1rem;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1170px;
        width: 100%;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 1.4rem;
        border-radius: 2.1rem;
        @media (max-width: 400px) {
            flex-direction: column;
            justify-content: space-evenly;
        }
        .logo-trello {
            margin: 1.4rem;
            width: 20%;
            img {
                width: 100%;
            }
        }
        .search-clock {
            display: flex;
            justify-content: space-evenly;
            width: 50%;
            @media (max-width: 400px) {
                justify-content: space-evenly;
            }          
            .search-todo {
                width: 60%;
                border: 1px solid gray;
                border-radius: 5px;
                background-color: white;
                text-align: center;
            }
            input[type="search"]::-webkit-search-cancel-button {
                display: none;
            }            
            .clock {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1.4rem;
                font-size: 1.7rem;
                width: 25%;
                height: 40px;
                border: 1px solid gray;
                border-radius: 5px;
                background-color: white;
                &:hover {
                    transform: scale(1.3);
                    transition: .3s;
                }
                @media (max-width: 400px) {
                    margin-right: 0;
                }
            }
        }
    }
    .main {   
        .list-container {
            font-weight: 600;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            gap: 1rem;
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            padding: 1rem;
            .list {
                max-width: 300px;
                width: 100%;
                border-radius: 10px;
                &:hover {
                    transform: scale(1.03);
                    transition: .3s;
                    box-shadow: 0 0 10px rgba(0,0,0,0.5);
                }
                .list__header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 10px;
                    padding: 1.4rem;
                    width: 100%;
                    .list__header-number {
                        font-size: 1.2rem;
                    }
                }
                .list-add__header {
                    background-color: $list-add-background-color;
                    border: $list-add-border-color;
                }
                .list-progress__header {
                    background-color: $list-progress-background-color;
                    border: $list-progress-border-color;
                }
                .list-done__header {
                    background-color: $list-done-background-color;
                    border: $list-done-border-color;    
                }
                .list__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 15px;
                    gap: 15px;
                    min-height: 345px;
                    width: 100%;
                    .card {
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        padding: 0.5rem 0;
                        max-width: 100%;
                        min-height: 150px;
                        border-radius: 15px;
                        background-color: azure;
                        .card__item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 0 1rem;
                            position: relative;
                            .title {
                                // spantitle
                                display: inline-block;
                                word-break: break-all;
                                padding: 0.5rem 0;
                                max-height: 49px;
                                overflow: hidden;
                            }
                            .text {
                                // spanDescription
                                display: inline-block;
                                width: auto;
                                word-break: break-all;
                                line-height: 1.2;
                                padding: 0.5rem 0;
                                max-height: 155px;
                                overflow: hidden;
                            }
                            .divButtons {
                                display: flex;
                                align-items: flex-end;
                            }
                            .card-item__btn {
                                border: 1px solid black;
                                border-radius: 5px;
                                font-size: 0.9rem;
                                padding: 0.3rem;
                                margin-left: 0.4rem;
                                &:active {
                                    box-shadow: $card-item-btn-box-shadow;
                                }
                                &:hover {
                                    transform: scale(1.1);
                                    transition: .3s;
                                }
                            }
                            .card-item__btn-apply {
                                padding: 0.8rem 0.6rem;
                                font-size: 1.2rem;
                                // position: absolute;
                                right: 0;
                            }
                        }
                    }
                    .list-add__card {
                        background-color: $list-add-background-color;
                        border: $list-add-border-color;
                    }
                    .list-progress__card {
                        background-color: $list-progress-background-color;
                        border: $list-progress-border-color;    
                    }
                    .list-done__card {
                        background-color: $list-done-background-color;
                        border: $list-done-border-color;    
                    }
                }
                .list-progress__content {
                    min-height: 395px;
                    padding-bottom: 10px;
                }
                .list__footer {
                    width: 100%;
                    border-radius: 10px;
                    button {
                        font-weight: 600;
                        width: 100%;
                        height: 50px;
                        border: 0px; 
                        border-radius: 10px;
                    }
                }
                .list-add__footer {
                    button {  
                        background-color: $list-add-background-color;
                        border: $list-add-border-color;
                        &:hover{
                            background-color: $list-add-background-color-hover;
                        }
                        &:active {
                            box-shadow: $list-add-background-color-active; 
                        }    
                    }
                }
                .list-done__footer {
                    button {
                        background-color: $list-done-background-color;
                        border: $list-done-border-color;
                        &:hover{
                            background-color: $list-done-background-color-hover;
                        }
                        &:active {
                            box-shadow: $list-done-background-color-active;
                        }       
                    }
                }
            }
            .list-progress {
                border-radius: 10px;
            }
        }
    }
}

@media only screen and (max-width: 959px) {
.wrapper {
    .main {
        .list-container {
            .list {
                .list__content {
                    .card {
                        .card__item {
                            .title {
                                max-height: 40px;
                            }
                            .text {
                                font-size: 15px;
                                max-height: 170px;
                            }
                            .divButtons {
                                flex-direction: column;
                                gap: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
}

@media only screen and (max-width: 768px) {
    .wrapper {
        padding: 0;
        .header {
            margin: 1.4rem auto 5.5rem;
            width: 95%;
            .logo-trello {
                margin: 1.4rem;
                width: 30%;
                img {
                    width: 100%;
                }
            }
            .search-clock {
                width: 60%;
            }
        }
        .main {
            .list-container {
                .list {
                    max-width: 75%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .list__content {
                        .card {
                            .card__item {
                                .divButtons {
                                    flex-direction: row;
                                    gap: 0;
                                }
                                .text {
                                    width: auto;
                                }
                            }
                        }
                    }
                }
                .swiper-pagination {
                    position: absolute;
                    bottom: calc(100% - 250px);
                    .swiper-pagination-bullet {
                        background-color: inherit;
                        color: white;
                        width: 9.8rem;
                        height: 2.85rem;
                        font-size: 1.4rem;
                        margin: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        .header {
            .logo-trello {
                margin: 1.4rem;
                width: 40%;
                img {
                    width: 100%;
                }
            }
            .search-clock {
                flex-wrap: wrap;
                flex-direction: column-reverse;
                align-content: flex-end;
                width: 60%;
                height: 90%;
                margin-right: 1.4rem;
                .clock {
                    margin: 0;
                    align-self: flex-end;
                    width: 50%;
                }
                .search-todo {
                    width: 100%;
                    height: 40px;
                }
            }
        }
        .main {
            .list-container {
                .list {
                    max-width: 70%;
                    .list__content {
                        .card {
                            .card__item {
                                .divButtons {
                                    flex-direction: column;
                                    gap: 4px;
                                }
                            }
                        }
                    }
                }
                .swiper-pagination {
                    position: absolute;
                    bottom: calc(100% - 250px);
                    .swiper-pagination-bullet {
                        width: 6.6rem;
                        height: 3rem;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 363px) {
    .wrapper {
        .main {
            .list-container {
                .list {
                    max-width: 83%;
                }
                .swiper-pagination {
                    position: absolute;
                    bottom: calc(100% - 250px);
                    .swiper-pagination-bullet {
                        width: 4.6rem;
                        margin: 0.7rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 253px) {
    .wrapper {
        .main {
            .list-container {
                .list {
                    max-width: 90%;
                }
                .swiper-pagination {
                    position: absolute;
                    bottom: calc(100% - 250px);
                    .swiper-pagination-bullet {
                        margin: 0;
                    }
                }
            }
        }
    }
}